.games-content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütunlu grid */
  gap: 20px; 
  justify-content: center;
  align-items: center;
  perspective: 1000px; 
}

.game-item {
  height: 300px;
  position: relative;
  perspective: 1500px;
}

.game-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.game-item:hover .game-card {
  transform: rotateY(180deg);
}

.game-front,
.game-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
}

.game-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.game-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.game-back {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.games-name {
  font-size: 24px;
  font-weight: bold;
  color: #ffb84c;
  text-align: center;
}

.score {
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  margin: 10px 0;
}

.game-button {
  font-size: 18px;
  background-color: #ffb84c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: background 0.3s;
}

.game-button:hover {
  background-color: #d99a3f;
}
